body {
  color: #3b485f;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  background: linear-gradient(90deg, #89a9cd 20%, #3b485f 20%, #3b485f 40%, #706a53 40%, #706a53 60%, #425f86 60%, #425f86 80%, #d4cdc1 80%, #d4cdc1 100%);
}

h3 {
  text-align: center;
}

.menu {
  height: 250px;
  background: rgb(165 193 222) url("./img/sakurajima-horizontal.jpg") no-repeat center center;
  background-size: cover;
}

.tab-menu{
  display: flex;
  justify-content: center;
}

.tab{
  padding: 5px;
  margin: 5px;
  list-style: none;
  border: solid 2px #d4cdc1;
  text-align: center;
  cursor: pointer;
}

.tab:hover {
  background: #d4cdc1;
}

.tab.is-active{
  background: #425f86;
  color: #d4cdc1;
  transition: all 0.2s ease-out;
}

.contents{
  margin-top: 130px;
  background: #d4cdc1;
  height: 660px;
}

.content{
  display: none;
}

.content.is-show{
  display: block;
}

#roulette-img {
  display: block;
  margin: auto;
  border-radius: 20px;
  padding: 10px 30px 30px 30px;
  height: 403px;
  width: 302px;
}

.select-wrapper {
  border-radius: 50px;
  padding-bottom: 30px;
}

#rare-selector {
  display: block;
  margin: auto;
  padding: 5px;
}

#roulette-btn {
  display: block;
  margin: 0 auto;
  padding: 15px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  background: #706a53;
  color: #d4cdc1;
  border-radius: 0.5rem;
  box-shadow: inset 1px 1px 1px #d4cdc1;
}

#roulette-btn:hover {
  background: #4b4737;
}

table {
  display: block;
  overflow-y: scroll;
  height: 520px;
  width: 610px;
  margin: auto;
}

th, td {
  height: 100px;
  vertical-align: middle;
  padding: 0 15px;
  border: 0.5px solid #706a53;
}

.fixed {
  position: sticky;
  top: 0;
  color: #89a9cd;
  background: #425f86;
  &:before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #d4cdc1;
  }
}